@import "./shared";

* {
	box-sizing:border-box;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size:11pt;
}

body {
	font-family:$fontfam;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:normal;
	margin:0;
}

section {
	margin:2rem;
}